<a href="https://colab.research.google.com/github/PhaellZX/DATA-SCIENCE/blob/main/Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sales forecast
Algorithm to predict the highest rate of purchases of a product at a given time.

In [ ]:
import pandas as pd
data = pd.read_csv('sample_data/SampleSuperstore.csv')
data.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [ ]:
# remove unnecessary columns
remover = ['Ship Mode','Segment','Country','City','State','Postal Code','Region','Category','Sub-Category']
data = data.drop(remover,axis=1)
data.head()

      Sales  Quantity  Discount    Profit
0  261.9600         2      0.00   41.9136
1  731.9400         3      0.00  219.5820
2   14.6200         2      0.00    6.8714
3  957.5775         5      0.45 -383.0310
4   22.3680         2      0.20    2.5164

In [ ]:
data.shape

(9994, 4)

In [ ]:
max(data.Sales)

22638.48

In [ ]:
data.loc[((data.Sales >= 11319.24) | (data.Quantity > 0) | (data.Discount > 0.0)) & (data.Profit > 0.0),'Product_gold'] = 1  
data.head(10)

      Sales  Quantity  Discount    Profit  Product_gold
0  261.9600         2      0.00   41.9136           1.0
1  731.9400         3      0.00  219.5820           1.0
2   14.6200         2      0.00    6.8714           1.0
3  957.5775         5      0.45 -383.0310           0.0
4   22.3680         2      0.20    2.5164           1.0
5   48.8600         7      0.00   14.1694           1.0
6    7.2800         4      0.00    1.9656           1.0
7  907.1520         6      0.20   90.7152           1.0
8   18.5040         3      0.20    5.7825           1.0
9  114.9000         5      0.00   34.4700           1.0

In [ ]:
data.loc[((data.Sales < 11319.24) | (data.Quantity <= 0) | (data.Discount <= 0.0)) & (data.Profit <= 0.0),'Product_gold'] = 0 
data.head(10)

      Sales  Quantity  Discount    Profit  Product_gold
0  261.9600         2      0.00   41.9136           1.0
1  731.9400         3      0.00  219.5820           1.0
2   14.6200         2      0.00    6.8714           1.0
3  957.5775         5      0.45 -383.0310           0.0
4   22.3680         2      0.20    2.5164           1.0
5   48.8600         7      0.00   14.1694           1.0
6    7.2800         4      0.00    1.9656           1.0
7  907.1520         6      0.20   90.7152           1.0
8   18.5040         3      0.20    5.7825           1.0
9  114.9000         5      0.00   34.4700           1.0

In [ ]:
data['Product_gold'].value_counts()

1.0    8059
0.0    1935
Name: Product_gold, dtype: int64

In [ ]:
# Checking if there are any null values in the product_gold column
'''i = 0
for i in range(0, 9994):
    if data.Product_gold[i] == 'NaN':
        print(data.get(data.Product_gold[i]))
    i += 0'''

##Created file CSV

In [51]:
data.to_csv('SampleSuperstore_Test.csv')
print("File created with sucess!")

File created with sucess!

##Training the Model

In [48]:
X = data.drop('Product_gold',axis=1)
y = data.Product_gold

In [ ]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X, y)
neigh.score(X, y)

0.99689813888333

In [45]:
# Decision Tree
from sklearn import tree
clfTree = tree.DecisionTreeClassifier(random_state=0)
clfTree = clfTree.fit(X, y)
clfTree.score(X,y)

1.0

In [49]:
# Linear Regression
from sklearn.linear_model import LogisticRegression
clfLog = LogisticRegression(random_state=0,max_iter=1000).fit(X, y)
clfLog.score(X,y)

0.9781869121472884

##Evaluating the model

In [52]:
data_test = pd.read_csv('sample_data/SampleSuperstore_Test.csv')
data_test.head()

   Unnamed: 0     Sales  Quantity  Discount    Profit  Product_gold
0           0  261.9600         2      0.00   41.9136           1.0
1           1  731.9400         3      0.00  219.5820           1.0
2           2   14.6200         2      0.00    6.8714           1.0
3           3  957.5775         5      0.45 -383.0310           0.0
4           4   22.3680         2      0.20    2.5164           1.0

In [71]:
X_train = data_test.drop('Product_gold',axis=1)
y_train = data_test.Product_gold

X_test = data_test.drop('Product_gold',axis=1)
y_test = data_test.Product_gold

In [72]:
neight = neigh.fit(X_train, y_train)
clfTree = clfTree.fit(X_train, y_train)
clfLog = clfLog.fit(X_train, y_train)

pred_KNN = neigh.predict(X_test)
pred_Tree = clfTree.predict(X_test)
pred_Log = clfLog.predict(X_test)

In [73]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

# Accuracy
print(accuracy_score(y_test,pred_KNN))
print(accuracy_score(y_test,pred_Tree))
print(accuracy_score(y_test,pred_Log))

0.9467680608365019
1.0
0.9781869121472884

In [74]:
# Precision
print(precision_score(y_test,pred_KNN, average='macro'))
print(precision_score(y_test,pred_Tree, average='weighted'))
print(precision_score(y_test,pred_Log, average='weighted'))

0.9581458484947019
1.0
0.9787411082229287

In [75]:
# Recall
print(recall_score(y_test,pred_KNN, average='macro'))
print(recall_score(y_test,pred_Tree, average='weighted'))
print(recall_score(y_test,pred_Log, average='weighted'))

0.8699938085816072
1.0
0.9781869121472884