# Google Stadia Games Modelo
## Colunas:
0: Title	

1: Genre(s)	

2: Developer(s)	

3: Publisher(s)

4: Stadia release date

5: Original release date[a]

6: Date added to Stadia Pro[b]

7: Date no longer claimable on Stadia Pro[c]

8: Ref.

## Importando o Dataset

In [1]:
import pandas as pd

In [2]:
base = pd.read_csv('df_1.csv')

In [3]:
base.head()

,Unnamed: 0,Title,Genre(s),Developer(s),Publisher(s),Stadia release date,Original release date[a],Date added to Stadia Pro[b],Date no longer claimable on Stadia Pro[c],Ref.
0,0,A Place for the Unwilling,Adventure,ALPixel Games,ALPixel Games,"February 23, 2021","July 25, 2019",NaN,NaN,[1]
1,1,Adam Wolfe,"Adventure, Puzzle",Mad Head Games,Mad Head Games,"March 1, 2022","October 7, 2016","March 1, 2022",NaN,[2]
2,2,Adventure Time: Pirates of the Enchiridion,Action-adventure,Climax Studios,Outright Games,"March 25, 2022","July 17, 2018",NaN,NaN,[3]
3,3,Ark: Survival Evolved,"Action-adventure, survival",Studio Wildcard,Studio Wildcard,"September 1, 2021","June 2, 2015","September 1, 2021",NaN,[4][5]
4,4,Ary and the Secret of Seasons,Action-adventure,"eXiin, Fishing Cactus","Modus Games, Maximum Games","November 5, 2020","September 1, 2020","January 1, 2021","July 1, 2021",[6][7]

In [4]:
base.tail()

,Unnamed: 0,Title,Genre(s),Developer(s),Publisher(s),Stadia release date,Original release date[a],Date added to Stadia Pro[b],Date no longer claimable on Stadia Pro[c],Ref.
270,270,Young Souls,Role-playing,1P2P,The Arcade Crew,"August 17, 2021","August 17, 2021",NaN,NaN,NaN
271,271,Ys IX: Monstrum Nox,Action role-playing,Nihon Falcom Corporation,NIS America,"July 6, 2021","September 26, 2019","April 1, 2022",NaN,[3][65]
272,272,Ys VIII: Lacrimosa of Dana,Action role-playing,Nihon Falcom Corporation,NIS America,"April 1, 2021","July 21, 2016","April 1, 2021","April 1, 2022",[23][65]
273,273,Zombie Army 4: Dead War,"Tactical shooter, Survival horror",Rebellion Developments,Rebellion Developments,"May 1, 2020","February 4, 2020","May 1, 2020","August 1, 2020",NaN
274,274,Zorro: The Chronicles,Action-adventure,Bkom Studios,BTC Studios,"June 16, 2022","June 16, 2022",NaN,NaN,[101]

## Mudando o nomes das colunas

In [5]:
# Changing the name of the 4 columns
base = base.rename({'Stadia release date':'Stadia_release_date'}, axis = 1)
base = base.rename({'Original release date[a]':'Original_release_date'}, axis = 1)
base = base.rename({'Date added to Stadia Pro[b]':'Date_added_Stadia_Pro'}, axis = 1)
base = base.rename({'Date no longer claimable on Stadia Pro[c]':'Date_Stadia_Pro'}, axis = 1)
base.head(3)

,Unnamed: 0,Title,Genre(s),Developer(s),Publisher(s),Stadia_release_date,Original_release_date,Date_added_Stadia_Pro,Date_Stadia_Pro,Ref.
0,0,A Place for the Unwilling,Adventure,ALPixel Games,ALPixel Games,"February 23, 2021","July 25, 2019",NaN,NaN,[1]
1,1,Adam Wolfe,"Adventure, Puzzle",Mad Head Games,Mad Head Games,"March 1, 2022","October 7, 2016","March 1, 2022",NaN,[2]
2,2,Adventure Time: Pirates of the Enchiridion,Action-adventure,Climax Studios,Outright Games,"March 25, 2022","July 17, 2018",NaN,NaN,[3]

## Removendo o dia e o mês e colocando somente o ano nas colunas Stadia_release_date	Original_release_date	Date_added_Stadia_Pro	Date_Stadia_Pro

In [6]:
# Stadia_release_date
i = 0
for i in range(0, 275):
    value = base.Stadia_release_date[i]
    mes, num, ano = value.split(" ")
    base.Stadia_release_date[i] = ano
    i += 0

C:\Users\rapha\AppData\Local\Temp\ipykernel_8328\424842897.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base.Stadia_release_date[i] = ano

In [7]:
base.head()

,Unnamed: 0,Title,Genre(s),Developer(s),Publisher(s),Stadia_release_date,Original_release_date,Date_added_Stadia_Pro,Date_Stadia_Pro,Ref.
0,0,A Place for the Unwilling,Adventure,ALPixel Games,ALPixel Games,2021,"July 25, 2019",NaN,NaN,[1]
1,1,Adam Wolfe,"Adventure, Puzzle",Mad Head Games,Mad Head Games,2022,"October 7, 2016","March 1, 2022",NaN,[2]
2,2,Adventure Time: Pirates of the Enchiridion,Action-adventure,Climax Studios,Outright Games,2022,"July 17, 2018",NaN,NaN,[3]
3,3,Ark: Survival Evolved,"Action-adventure, survival",Studio Wildcard,Studio Wildcard,2021,"June 2, 2015","September 1, 2021",NaN,[4][5]
4,4,Ary and the Secret of Seasons,Action-adventure,"eXiin, Fishing Cactus","Modus Games, Maximum Games",2020,"September 1, 2020","January 1, 2021","July 1, 2021",[6][7]

In [8]:
base.tail()

,Unnamed: 0,Title,Genre(s),Developer(s),Publisher(s),Stadia_release_date,Original_release_date,Date_added_Stadia_Pro,Date_Stadia_Pro,Ref.
270,270,Young Souls,Role-playing,1P2P,The Arcade Crew,2021,"August 17, 2021",NaN,NaN,NaN
271,271,Ys IX: Monstrum Nox,Action role-playing,Nihon Falcom Corporation,NIS America,2021,"September 26, 2019","April 1, 2022",NaN,[3][65]
272,272,Ys VIII: Lacrimosa of Dana,Action role-playing,Nihon Falcom Corporation,NIS America,2021,"July 21, 2016","April 1, 2021","April 1, 2022",[23][65]
273,273,Zombie Army 4: Dead War,"Tactical shooter, Survival horror",Rebellion Developments,Rebellion Developments,2020,"February 4, 2020","May 1, 2020","August 1, 2020",NaN
274,274,Zorro: The Chronicles,Action-adventure,Bkom Studios,BTC Studios,2022,"June 16, 2022",NaN,NaN,[101]

In [9]:
# Original_release_date
i = 0
for i in range(0, 275):
    value = base.Original_release_date[i]
    mes, num, ano = value.split(" ")
    base.Original_release_date[i] = ano
    i += 0

C:\Users\rapha\AppData\Local\Temp\ipykernel_8328\515192120.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base.Original_release_date[i] = ano

ValueError: not enough values to unpack (expected 3, got 1)

Obs: Está dando erro nessa parte... tive que fazer o mesmo processo da linha 58 em diante

In [10]:
i = 58
for i in range (58, 275):
    value = base.Original_release_date[i]
    mes, ano = value.split(", ")
    base.Original_release_date[i] = ano
    i += 1

C:\Users\rapha\AppData\Local\Temp\ipykernel_8328\2227313152.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base.Original_release_date[i] = ano

In [11]:
base.head()

,Unnamed: 0,Title,Genre(s),Developer(s),Publisher(s),Stadia_release_date,Original_release_date,Date_added_Stadia_Pro,Date_Stadia_Pro,Ref.
0,0,A Place for the Unwilling,Adventure,ALPixel Games,ALPixel Games,2021,2019,NaN,NaN,[1]
1,1,Adam Wolfe,"Adventure, Puzzle",Mad Head Games,Mad Head Games,2022,2016,"March 1, 2022",NaN,[2]
2,2,Adventure Time: Pirates of the Enchiridion,Action-adventure,Climax Studios,Outright Games,2022,2018,NaN,NaN,[3]
3,3,Ark: Survival Evolved,"Action-adventure, survival",Studio Wildcard,Studio Wildcard,2021,2015,"September 1, 2021",NaN,[4][5]
4,4,Ary and the Secret of Seasons,Action-adventure,"eXiin, Fishing Cactus","Modus Games, Maximum Games",2020,2020,"January 1, 2021","July 1, 2021",[6][7]

In [12]:
base.tail()

,Unnamed: 0,Title,Genre(s),Developer(s),Publisher(s),Stadia_release_date,Original_release_date,Date_added_Stadia_Pro,Date_Stadia_Pro,Ref.
270,270,Young Souls,Role-playing,1P2P,The Arcade Crew,2021,2021,NaN,NaN,NaN
271,271,Ys IX: Monstrum Nox,Action role-playing,Nihon Falcom Corporation,NIS America,2021,2019,"April 1, 2022",NaN,[3][65]
272,272,Ys VIII: Lacrimosa of Dana,Action role-playing,Nihon Falcom Corporation,NIS America,2021,2016,"April 1, 2021","April 1, 2022",[23][65]
273,273,Zombie Army 4: Dead War,"Tactical shooter, Survival horror",Rebellion Developments,Rebellion Developments,2020,2020,"May 1, 2020","August 1, 2020",NaN
274,274,Zorro: The Chronicles,Action-adventure,Bkom Studios,BTC Studios,2022,2022,NaN,NaN,[101]

## Substituindo os valores 'NaN' para '0'

In [13]:
base['Date_added_Stadia_Pro'] = base['Date_added_Stadia_Pro'].replace(float('NaN'),'0')
base['Date_Stadia_Pro'] = base['Date_Stadia_Pro'].replace(float('NaN'),'0')
base

,Unnamed: 0,Title,Genre(s),Developer(s),Publisher(s),Stadia_release_date,Original_release_date,Date_added_Stadia_Pro,Date_Stadia_Pro,Ref.
0,0,A Place for the Unwilling,Adventure,ALPixel Games,ALPixel Games,2021,2019,0,0,[1]
1,1,Adam Wolfe,"Adventure, Puzzle",Mad Head Games,Mad Head Games,2022,2016,"March 1, 2022",0,[2]
2,2,Adventure Time: Pirates of the Enchiridion,Action-adventure,Climax Studios,Outright Games,2022,2018,0,0,[3]
3,3,Ark: Survival Evolved,"Action-adventure, survival",Studio Wildcard,Studio Wildcard,2021,2015,"September 1, 2021",0,[4][5]
4,4,Ary and the Secret of Seasons,Action-adventure,"eXiin, Fishing Cactus","Modus Games, Maximum Games",2020,2020,"January 1, 2021","July 1, 2021",[6][7]
...,...,...,...,...,...,...,...,...,...,...
270,270,Young Souls,Role-playing,1P2P,The Arcade Crew,2021,2021,0,0,NaN
271,271,Ys IX: Monstrum Nox,Action role-playing,Nihon Falcom Corporation,NIS America,2021,2019,"April 1, 2022",0,[3][65]
272,272,Ys VIII: Lacrimosa of Dana,Action role-playing,Nihon Falcom Corporation,NIS America,2021,2016,"April 1, 2021","April 1, 2022",[23][65]
273,273,Zombie Army 4: Dead War,"Tactical shooter, Survival horror",Rebellion Developments,Rebellion Developments,2020,2020,"May 1, 2020","August 1, 2020",NaN
274,274,Zorro: The Chronicles,Action-adventure,Bkom Studios,BTC Studios,2022,2022,0,0,[101]

## Continuando  a adicionar os anos nas colunas

In [14]:
# Date_added_Stadia_Pro
i = 0
for i in range(0, 275):
    if base.Date_added_Stadia_Pro[i] == '0':
        base.Date_added_Stadia_Pro[i] = '0'
    else:
        value = base.Date_added_Stadia_Pro[i]
        mes, ano = value.split(", ")
        base.Date_added_Stadia_Pro[i] = ano
    i += 1

C:\Users\rapha\AppData\Local\Temp\ipykernel_8328\3387737421.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base.Date_added_Stadia_Pro[i] = '0'
C:\Users\rapha\AppData\Local\Temp\ipykernel_8328\3387737421.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base.Date_added_Stadia_Pro[i] = ano

In [15]:
# Date_Stadia_Pro
i = 0
for i in range(0, 275):
    if base.Date_Stadia_Pro[i] == '0':
        base.Date_Stadia_Pro[i] = '0'
    else:
        value = base.Date_Stadia_Pro[i]
        mes, ano = value.split(", ")
        base.Date_Stadia_Pro[i] = ano
    i += 1

C:\Users\rapha\AppData\Local\Temp\ipykernel_8328\1591946080.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base.Date_Stadia_Pro[i] = '0'
C:\Users\rapha\AppData\Local\Temp\ipykernel_8328\1591946080.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base.Date_Stadia_Pro[i] = ano

In [16]:
base.head()

,Unnamed: 0,Title,Genre(s),Developer(s),Publisher(s),Stadia_release_date,Original_release_date,Date_added_Stadia_Pro,Date_Stadia_Pro,Ref.
0,0,A Place for the Unwilling,Adventure,ALPixel Games,ALPixel Games,2021,2019,0,0,[1]
1,1,Adam Wolfe,"Adventure, Puzzle",Mad Head Games,Mad Head Games,2022,2016,2022,0,[2]
2,2,Adventure Time: Pirates of the Enchiridion,Action-adventure,Climax Studios,Outright Games,2022,2018,0,0,[3]
3,3,Ark: Survival Evolved,"Action-adventure, survival",Studio Wildcard,Studio Wildcard,2021,2015,2021,0,[4][5]
4,4,Ary and the Secret of Seasons,Action-adventure,"eXiin, Fishing Cactus","Modus Games, Maximum Games",2020,2020,2021,2021,[6][7]

In [17]:
base.tail()

,Unnamed: 0,Title,Genre(s),Developer(s),Publisher(s),Stadia_release_date,Original_release_date,Date_added_Stadia_Pro,Date_Stadia_Pro,Ref.
270,270,Young Souls,Role-playing,1P2P,The Arcade Crew,2021,2021,0,0,NaN
271,271,Ys IX: Monstrum Nox,Action role-playing,Nihon Falcom Corporation,NIS America,2021,2019,2022,0,[3][65]
272,272,Ys VIII: Lacrimosa of Dana,Action role-playing,Nihon Falcom Corporation,NIS America,2021,2016,2021,2022,[23][65]
273,273,Zombie Army 4: Dead War,"Tactical shooter, Survival horror",Rebellion Developments,Rebellion Developments,2020,2020,2020,2020,NaN
274,274,Zorro: The Chronicles,Action-adventure,Bkom Studios,BTC Studios,2022,2022,0,0,[101]

## Mudando o nome da coluna Unnamed: 0 e Genre(s)

In [18]:
base = base.rename({'Genre(s)':'Genre'}, axis = 1)
base = base.rename({'Unnamed: 0':'Id'}, axis = 1)
base.head()

,Id,Title,Genre,Developer(s),Publisher(s),Stadia_release_date,Original_release_date,Date_added_Stadia_Pro,Date_Stadia_Pro,Ref.
0,0,A Place for the Unwilling,Adventure,ALPixel Games,ALPixel Games,2021,2019,0,0,[1]
1,1,Adam Wolfe,"Adventure, Puzzle",Mad Head Games,Mad Head Games,2022,2016,2022,0,[2]
2,2,Adventure Time: Pirates of the Enchiridion,Action-adventure,Climax Studios,Outright Games,2022,2018,0,0,[3]
3,3,Ark: Survival Evolved,"Action-adventure, survival",Studio Wildcard,Studio Wildcard,2021,2015,2021,0,[4][5]
4,4,Ary and the Secret of Seasons,Action-adventure,"eXiin, Fishing Cactus","Modus Games, Maximum Games",2020,2020,2021,2021,[6][7]

## Removendo Colunas que não serão utilizadas

In [19]:
base = base.drop('Ref.',axis=1)
base = base.drop('Title',axis=1)
base = base.drop('Genre',axis=1)
base = base.drop('Developer(s)',axis=1)
base = base.drop('Publisher(s)',axis=1)
base.head()

,Id,Stadia_release_date,Original_release_date,Date_added_Stadia_Pro,Date_Stadia_Pro
0,0,2021,2019,0,0
1,1,2022,2016,2022,0
2,2,2022,2018,0,0
3,3,2021,2015,2021,0
4,4,2020,2020,2021,2021

In [20]:
base.Date_Stadia_Pro[224] = '2020'
base.Date_Stadia_Pro[42] = '2020'

C:\Users\rapha\AppData\Local\Temp\ipykernel_8328\1847785771.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base.Date_Stadia_Pro[224] = '2020'
C:\Users\rapha\AppData\Local\Temp\ipykernel_8328\1847785771.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base.Date_Stadia_Pro[42] = '2020'

Obs: No momento que ia converter os valores strings para inteiros, apareceu 2 dados com anos '2020[a]' tive que procurar entre a colunas e as linhas esse dados.

## Convertendo Todos os Dados para inteiros

In [21]:
base = base.astype(str).astype(int)
base

,Id,Stadia_release_date,Original_release_date,Date_added_Stadia_Pro,Date_Stadia_Pro
0,0,2021,2019,0,0
1,1,2022,2016,2022,0
2,2,2022,2018,0,0
3,3,2021,2015,2021,0
4,4,2020,2020,2021,2021
...,...,...,...,...,...
270,270,2021,2021,0,0
271,271,2021,2019,2022,0
272,272,2021,2016,2021,2022
273,273,2020,2020,2020,2020
274,274,2022,2022,0,0

## Mostrando os dados convertidos

In [22]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     275 non-null    int32
 1   Stadia_release_date    275 non-null    int32
 2   Original_release_date  275 non-null    int32
 3   Date_added_Stadia_Pro  275 non-null    int32
 4   Date_Stadia_Pro        275 non-null    int32
dtypes: int32(5)
memory usage: 5.5 KB

## Criando uma nova coluna como saída
se data do game stadia pro for acima ou igual a 2021 é lançamento

In [48]:
base.loc[base['Date_Stadia_Pro'] > 2021,'lancamento'] = 1
base.loc[base['Date_Stadia_Pro'] <= 2021,'lancamento'] = 0
base

,Id,Stadia_release_date,Original_release_date,Date_added_Stadia_Pro,Date_Stadia_Pro,lancamento
0,0,2021,2019,0,0,0.0
1,1,2022,2016,2022,0,0.0
2,2,2022,2018,0,0,0.0
3,3,2021,2015,2021,0,0.0
4,4,2020,2020,2021,2021,0.0
...,...,...,...,...,...,...
270,270,2021,2021,0,0,0.0
271,271,2021,2019,2022,0,0.0
272,272,2021,2016,2021,2022,1.0
273,273,2020,2020,2020,2020,0.0
274,274,2022,2022,0,0,0.0

## Modelo pronto para treinamento

In [49]:
base

,Id,Stadia_release_date,Original_release_date,Date_added_Stadia_Pro,Date_Stadia_Pro,lancamento
0,0,2021,2019,0,0,0.0
1,1,2022,2016,2022,0,0.0
2,2,2022,2018,0,0,0.0
3,3,2021,2015,2021,0,0.0
4,4,2020,2020,2021,2021,0.0
...,...,...,...,...,...,...
270,270,2021,2021,0,0,0.0
271,271,2021,2019,2022,0,0.0
272,272,2021,2016,2021,2022,1.0
273,273,2020,2020,2020,2020,0.0
274,274,2022,2022,0,0,0.0

# Treinando o Modelo

In [50]:
X = base.drop('lancamento',axis=1)
y = base.lancamento

## KNN -  KNeighborsClassifier

In [51]:
# KNN
from sklearn.neighbors import KNeighborsClassifier

In [52]:
neigh = KNeighborsClassifier(n_neighbors=3)

In [53]:
neigh.fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [54]:
neigh.score(X, y)

0.9527272727272728

## Arvore de Decisão

In [55]:
# Desicion Tree
from sklearn import tree

In [56]:
clfArvore = tree.DecisionTreeClassifier(random_state=0)

In [57]:
clfArvore = clfArvore.fit(X, y)

In [58]:
clfArvore.score(X,y)

1.0

## Regressão Linear

In [59]:
# Linear Regression
from sklearn.linear_model import LogisticRegression

In [60]:
clfLog = LogisticRegression(random_state=0,max_iter=1000).fit(X, y)

In [61]:
clfLog.score(X,y)

0.9381818181818182

## Criando a base de teste

In [62]:
teste = pd.read_csv('df_1.csv')
teste = base
teste

,Id,Stadia_release_date,Original_release_date,Date_added_Stadia_Pro,Date_Stadia_Pro,lancamento
0,0,2021,2019,0,0,0.0
1,1,2022,2016,2022,0,0.0
2,2,2022,2018,0,0,0.0
3,3,2021,2015,2021,0,0.0
4,4,2020,2020,2021,2021,0.0
...,...,...,...,...,...,...
270,270,2021,2021,0,0,0.0
271,271,2021,2019,2022,0,0.0
272,272,2021,2016,2021,2022,1.0
273,273,2020,2020,2020,2020,0.0
274,274,2022,2022,0,0,0.0

# Avaliando o Modelo

In [63]:
X_treino = base.drop('lancamento',axis=1)
y_treino = base.lancamento

In [64]:
X_teste = teste.drop('lancamento',axis=1)
y_teste = teste.lancamento

In [77]:
neight = neigh.fit(X_treino, y_treino)
clfArvore = clfArvore.fit(X_treino, y_treino)
clfLog = clfLog.fit(X_treino, y_treino)

In [78]:
pred_KNN = neigh.predict(X_teste)
pred_Arvore = clfArvore.predict(X_teste)
pred_Log = clfLog.predict(X_teste)

In [79]:
# Importando as métricas de avaliação
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [80]:
# Acurácia
print(accuracy_score(y_teste,pred_KNN))
print(accuracy_score(y_teste,pred_Arvore))
print(accuracy_score(y_teste,pred_Log))

0.9527272727272728
1.0
0.9381818181818182

In [81]:
# Precisão
print(precision_score(y_teste,pred_KNN))
print(precision_score(y_teste,pred_Arvore))
print(precision_score(y_teste,pred_Log))

0.875
1.0
1.0

In [82]:
# Recall
print(recall_score(y_teste,pred_KNN))
print(recall_score(y_teste,pred_Arvore))
print(recall_score(y_teste,pred_Log))

0.3684210526315789
1.0
0.10526315789473684

Obs: Arvore de Decisão teve o melhor desempenho

## Gerando um arquivo excel

In [88]:
base.to_excel('Google_Stadia_Lancamentos.xlsx')

In [91]:
base

,Id,Stadia_release_date,Original_release_date,Date_added_Stadia_Pro,Date_Stadia_Pro,lancamento
0,0,2021,2019,0,0,0.0
1,1,2022,2016,2022,0,0.0
2,2,2022,2018,0,0,0.0
3,3,2021,2015,2021,0,0.0
4,4,2020,2020,2021,2021,0.0
...,...,...,...,...,...,...
270,270,2021,2021,0,0,0.0
271,271,2021,2019,2022,0,0.0
272,272,2021,2016,2021,2022,1.0
273,273,2020,2020,2020,2020,0.0
274,274,2022,2022,0,0,0.0